/build/
sketchup.cpp
sketchup.so
SketchUpAPI.framework
LayOutAPI.framework
.DS_Store
**/__pycache__
**/__pycache__/*.pyc
*.dll
*.pyd
*.so
*.html
.vscode/
**/env/

*.zip
*.dmg
*.url
documentation/
samples/

*.egg-info

target/